USERNAME=""     # bot's username
PASSWORD=""     # bot's "oauth:token"
BEARER=""       # twitch API 30 symbols without bearer:
CLIENTID=""     # bot's client id
TOKEN=""        # bot's token without oauth:
BOTID=""        # bot's id

PREFIX="`"      # 1 (or more) chars - command prefix
OWNER= ""       # owner's name

TG_TOKEN=""     # telegram oauth get from @BotFather 

# db supabase
DB_HOST=""      # db hosting
DB_NAME=""      # db name database
DB_PORT=""      # db port
DB_USER=""      # db username
DB_PASS=""      # db password